<mat-toolbar class="header-toolbar">
  <div class="header-content">
    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/logo.png" alt="Logo" class="logo">
    <span class="title">{{title}}</span>
    <span class="spacer"></span>
    <div class="user-info">
      <p>Convidado</p>
    </div>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
