:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  .mat-toolbar {
    background-color: #005faf;
    color: white;
    height: 64px;
    padding: 0 24px;

    .header-content {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      gap: 8px;
    }

    .logo {
      height: 36px;
      margin-right: 16px;
      border-radius: 50%;
      border: white 2px solid;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 8px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .user-info {
      margin-right: 16px;
      display: flex;
      flex-direction: row;
      align-items: center !important;
      p {
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.3s ease
  
      }

    }

    .mat-icon-button {
      margin-left: 16px;

      .mat-icon {
        color: white;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  @media (max-width: 600px) {
    .mat-toolbar {
      padding: 0 12px;
      height: 56px;

      .logo {
        height: 36px;
      }

      .title {
        font-size: 1.2rem;
      }
    }
  }
}
